<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>운동 목표 설정</title>

    <script src="../static/goal.js"></script>
    <link rel="stylesheet" href="../static/goal.css">

</head>
<body>
<h1>운동 목표 설정</h1>
<button onclick="location.href='/result'"> 운동 결과 입력</button>
<div class="input_goal">
    <select id="day">
        <option value="mon">월요일</option>
        <option value="tue">화요일</option>
        <option value="wed">수요일</option>
        <option value="thu">목요일</option>
        <option value="fri">금요일</option>
        <option value="sat">토요일</option>
        <option value="sun">일요일</option>
    </select>
    <select id="title" name="selbox">
        <option value="squat">스쿼트</option>
        <option value="lunge">런지</option>
        <option value="pull">풀업</option>
        <option value="push">푸쉬업</option>
        <option value="sit">윗몸 일으키기</option>
    </select>
    <input type="number" id="goal_num"/> 회
    <input type="number" id="goal_set"/> 세트
    <button onclick="save_goal()"> 등록</button>
</div>
<div class="post_goal" id="goal_list">
</div>
</body>
</html>